/* RESET RULES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    border-style: none;
    background-color: transparent;
    outline: none;
}

ul, li, menu {
    list-style: none;
}

/* BODY STYLE */

body {
    background-color: #F6F8F9;
    font-family: sans-serif; /* sans-serif for now until a proper font is chosen */
}

/* PAGE HEADER STYLE */

.main-header {
    font-size: 36px;
    font-weight: bold;
    background-color: #ffffff;
    padding: 8px 0 8px 20px;
    margin-bottom: 50px;
}

.logo {
    vertical-align: middle;
}

/* MAIN STYLE */

.main-card {
    padding-inline: 25px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding-block: 25px;
    background-color: white;
    border-radius: 5px;
}

.todolist-header, .todolist-body {
    padding-inline: 40px;
}

/* BUTTON STYLING */

.btn {
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 5px;
}

.btn-default {
    background-color: #47ADF1;
    color: white;
}

.btn-alternate {
    border: 1px solid #dddddd;
    color: #bebebe;
}


/* TODOLIST HEADER STYLE */

.todolist-header {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #F6F8F9;
}

/* TODOLIST BODY STYLE */

.todolist-body {
}

.list-title-arrow, .list-title {
    display: inline-block;
}

.list-title-arrow {
    font-size: 28px;
    color: #474747;
}

.todolist-body .list-title {
    font-size: 22px;
}

.todolist-body li {
    font-size: 18px;
    margin-block: 20px;
}

.todolist-body li:last-child {
    margin-bottom: 40px;
}

/* ITEM CATEGORY STYLES */
 
.list-tag {
    color: white;
    font-size: 10px;
    line-height: 20px;
    display: inline-block;
    background-color: #435b5c;
    border-radius: 10px;
    padding: 0 10px;
    text-align: center;
    vertical-align: middle;
}

.list-tag-blue {
    background-color: #47ADF1;
}

.list-tag-purple {
    background-color: #9C72E4;
}

.list-tag-turquoise {
    background-color: #64C0A9;
}

.list-tag-orange {
    background-color: #F29E33;
}

.list-tag-pink {
    background-color: #D863A0;
}

.list-tag-green {
    background-color: #B0C926;
}


/* LIST STYLES */

.bullet-type {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
    line-height: 18px;
    border: 1px solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
}

.item-complete {
    color: green;
}

.item-incomplete {
    color: red;
}


/* COLLAPSABLE LISTS */

.checkstyle {
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-color: #9C72E4;
}

.collapsable {
    opacity: 1;
    max-height: 100vh;
    transition-property: opacity, max-height;
    transition-duration: 300ms, 800ms;
    transition-delay: 200ms, 0ms;
    
}

.collapse-toggle:checked + .collapsable {
    opacity: 0;
    max-height: 0;
    transition-property: opacity, max-height;
    transition-duration: 300ms, 300ms;
    transition-delay: 0ms, 0ms;
}
